/*
DO NOT USE "pixels" Unit
em is relative to the element
rem is relative to font size

Font Size make sure you use "rem" (as its a relative to the font size of the root html element

- for text: use max-width, make sure you use "ch" unit and equals to 50 max, as its based on charecter size, so it ensures that you dont go over and all text is readable
- for height, make sure you use min-height, since scroll is valid in any screen
- padding or margin: em or rem -> 
em for padding buttons so if you change font size, tha padding will change accordicly. 

make sure you use erm for media queries (diffrent screens) this is because safarai does not support pixels or rem 

*/
html{
    font-size: 62.5%; /*base16 - this will ensure that each rem unit is 10px*/
}
body{
    font-size: 2.1rem; /* 2.1rem X 10 = 21px*/
}
.cl-grey {
    background-color: grey;
}

/*Alignment*/
.inline{
    display: inline-block;
    justify-self: center;
}
.flex{
    display: flex;
}
.center {
    margin: auto;
    text-align: center;
    justify-content: center;

}
/*Navbar classes*/
.navbar-logo{
    max-width: 8em;
    max-height: auto;
}
.nav-border-btm{
    border-bottom: 1px solid rgba(196, 195, 195, 0.911);
}
.nav-bar{
    min-height: 1em;
    line-height: 1em;
    text-align: center;
}
/*padding classes*/
.padding-all-05{
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}
.padding-all-1{
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}
.padding-all-2{
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
}
.padding-top-05{
    padding-top: 0.5rem;
}
.padding-top-1{
    padding-top: 1rem;
}
.padding-top-2{
    padding-top: 2rem;
}
.padding-btm-1{
    padding-bottom: 1rem;
}
.padding-btm-05{
    padding-bottom: 0.5rem;
}
.padding-btm-2{
    padding-bottom: 2rem;
}
.padding-left-1{
    padding-left: 1rem;
}
.padding-left-2{
    padding-left: 2rem;
}
.padding-right-1{
    padding-right: 1rem;
}
.padding-right-2{
    padding-right: 2rem;
}
/*Icons classes with text size*/
.icon-sm{
    max-width: 1em;
    max-height: 1em;
}
.icon-md{
    max-width: 1.1em;
    max-height: 1.1em;
}
/*link with text size class*/
a.text-sm{
    font-size: 1.5rem;
    text-decoration: none;
    vertical-align: middle;
}
a.text-md{
    font-size: 1.9rem;
    text-decoration: none;
    vertical-align: middle;
}
/*debug*/
.debug{
    border: 2px dashed #f69c55;
}
.debug-red{
    border: 2px dashed red;
}
.debug-black{
    border: 2px dashed black;
}
/*shadow*/
.shdw-btm{
    box-shadow: rgba(0, 0, 0, 0.40) 0px 25px 20px -20px;
}
/*img classes*/
.fill {
    object-fit: fill;
}
.contain {
object-fit: contain;
}
.cover {
object-fit: cover;
}
.none {
object-fit: none;
}
.scale-down {
object-fit: scale-down;
}
/*hero classes*/
.hero-img{
    max-height: 30em;
    width: 100%;
    /*margin-left: 40%;*/
    transform: translate(25%, 0%);
}
.hero-box{
    font-size: 0.85em;    
    position: absolute;
    background-color: white;
    max-width: 650px;
    padding: 0.1em;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin: 0;
    top: 50%;
    left: 35%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*card classes*/
.card{
    width: 13.6em;
    height: 10em;
    max-width: 20em;
    min-height: 15em;
    border-color: rgb(204, 204, 204);
    border-width: 1px;
    border-style: solid;
    border-radius: 20%;
    box-shadow: rgba(0, 0, 0, 0.40) 20px 20px 20px -20px;
    position: relative;
    overflow: hidden;
}
.card-top{
    width: 13.6em;
    /*height: 9em;*/
    height: 60%;
    max-width: 100%;
    /*min-height: 9em;*/
    min-height: 60%;
    position: absolute;
    top: 0;
    overflow: hidden;
}
.card-btm{
    width: 13.6em;
    /*height: 5.69em;*/
    height: 40%;
    max-width: 100%;
   /* min-height: 5.69em;*/
    min-height: 40%;
    position: absolute;
    bottom: 0;
}
.card-top-img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.card-btm-items{
    
}











/*Codes from other sources*/
/*Code from https://getcssscan.com/css-buttons-examples*/
/* button-nav */
.button-nav {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
.button-nav:hover,
.button-nav:focus { 
  background-color: #16437E;
  color: #ffffff;
}
.button-nav:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}
.button-nav:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}




